################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/adtransfer/v17/.wsuo
*.vsidx
/.vs/adtransfer/FileContentIndex/b1aa98c0-1dc6-4ffc-b79a-5424678ed109.vsidx
/.vs/slnx.sqlite
/.vs/adtransfer/FileContentIndex/a28a40b0-73af-43af-a7c4-e95d364ad338.vsidx
/.vs/adtransfer/FileContentIndex/write.lock
/.vs/VSWorkspaceState.json
*.bin
/.vs/adtransfer/FileContentIndex/2ca76148-d0df-43f6-bfe7-79248d9bb4ca.vsidx
/.vs/adtransfer/FileContentIndex/9d5f85a0-57f0-4ee6-92e0-c32e2fcfcdbf.vsidx
/.vs/adtransfer/FileContentIndex/a9561a35-1c1c-4cc7-9928-a833a30d4156.vsidx
/.vs/adtransfer/FileContentIndex/bf99903f-be25-4581-814a-f7139e6e83d9.vsidx
